@import 'src/styles/standart';

.postCard{
    flex-grow: 1;

    width: 100%;
    height: auto;
    background-color: $white;
    box-shadow: 0 4px 12px 0 #00000026;

    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding: 16px;


    &__contentSide{
        flex-grow: 1;
    }

    &__userSide{
        min-width: 20%;
        max-width: 40%;
        flex-shrink: 0;
    }
}

.contentSide{
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__header{
        display: flex;
        gap: 8px;
    }

    &__title{
        font-size: 18px;
        color: $blue;
        overflow-wrap: anywhere;
    }

    &__likesCount{
        height: 16px;

        display: flex;
        align-items: center;
        gap: 4px;

        &:before{
            content: url('../../../../assets/svg/likeInactive.svg');
            position: relative;
            top: 2px;
        }
        &--isLiked:before{
            content: url('../../../../assets/svg/likeActive.svg');
        }
    }

    &__tagsList{
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
    }

    &__tag{
        border: 1px solid;
        border-radius: 2px;
        overflow: hidden;
        max-width: 300px;
        white-space: nowrap;

        padding: 0 4px;

        &:nth-child(n+2){
            color: $greyHard;
        }
    }

    &__description{
        overflow-wrap: anywhere;
    }
}

.userSide{
    display: flex;
    justify-content: end;
    gap: 8px;

    &__column{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 8px;
        text-align: right;
    }

    &__userName{
        font-size: 18px;
        overflow-wrap: anywhere;
    }

    &__creationTime{
        color: $greyHard;
    }

    &__userPic{
        width: 46px;
        height: 46px;
        border-radius: 50%;
    }
}
