
// ---- prom

$black: #000000BF;
$white: #FFFFFF;

// ---- grey

$greySoft: #EBEEF3;
$greyMiddle: #c8c8c8;
$greyHard: #969696;

// ---- red

$red: #F5222D;

// ---- green

$green: #52C41A;

// ---- blue

$blue: #1890FF;

// ---- transition

$transitionQuick: all .15s ease-out;
$transitionMiddle: all .3s ease-out;
