@import 'src/styles/standart';

.ant-pagination{

    &>.ant-pagination-item{
        transition: $transitionQuick;
    }

    &>.ant-pagination-item-active{
        border-color: $blue;
        background-color: $blue;

        &>a{
            color: $white;
            transition: all .15s ease-out;

            &:hover{
                color: $black;
            }
        }
    }
}
