
html{
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing: inherit;
}

body{}

button{
    padding: 0;
    font: inherit;
    cursor: pointer;
    color: inherit;
    background-color: transparent;
    border: 0 none transparent;
    outline: 0 none transparent;
    width: fit-content;
    height: fit-content;
}
input,textarea{
    padding: 0;
    border: 0 none transparent;
    outline: 0 none transparent;
}
textarea{
    resize: none;
}
a,a:hover,a:active{
    text-decoration: none;
    color: inherit;
    outline: 0 none transparent;
}
