//@import '../../styles/standart';
@import 'src/styles/standart';

body{
    font-family: 'TT Lakes', 'Arial', sans-serif;
    font-size: 12px;
    line-height: 150%;
    color: $black;
}

.app{
    min-height: 100vh;
    background-color: $greySoft;

    display: flex;
    flex-direction: column;

    &__header{
        height: 80px;
        background-color: $white;
    }

    &__main{
        flex-grow: 1;
        align-self: center;

        width: 100%;
        max-width: 940px;

        display: flex;
        justify-content: center;
        padding: 24px;
        //&>*{
        //    flex-grow: 1;
        //}
    }
}
