@import 'src/styles/standart';

.spin{
    margin: auto;
}

.errorMessage{
    margin: auto;
    color: $red;
    font-size: 20px;
    font-weight: bold;
}

.openPost{
    flex-grow: 1;

    width: 100%;
    height: auto;
    background-color: $white;
    box-shadow: 0 4px 12px 0 #00000026;

    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    gap: 8px;
    padding: 16px;

    &__header{
        display: flex;
        justify-content: space-between;
        gap: 8px;
        //padding: 16px;
    }

    &__body{
        & p{
            padding: 4px 0;
        }
        & h4{
            padding: 4px 0;
            font-size: 125%;
            line-height: 125%;
        }
        & h3{
            padding: 4px 0;
            font-size: 150%;
            line-height: 150%;
        }
        & h2{
            padding: 4px 0;
            font-size: 175%;
            line-height: 175%;
        }
        & h2{
            padding: 4px 0;
            font-size: 200%;
            line-height: 200%;
        }
        overflow-wrap: anywhere;
    }

    &__headerContentSide{
        flex-grow: 1;
    }

    &__headerUserSide{
        min-width: 20%;
        max-width: 40%;
        flex-shrink: 0;
    }
}

.contentSide{
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__header{
        display: flex;
        gap: 8px;
    }

    &__title{
        font-size: 18px;
        color: $blue;
        overflow-wrap: anywhere;

        transition: $transitionQuick;

        &:hover{
            color: $black;
        }

        &:focus{
            text-decoration: underline;
        }
    }

    &__likesCount{
        height: 16px;

        display: flex;
        align-items: center;
        gap: 4px;

        &:before{
            content: url('../../../assets/svg/likeInactive.svg');
            position: relative;
            top: 2px;
        }
        &--isLiked:before{
            content: url('../../../assets/svg/likeActive.svg');
        }

        transition: $transitionQuick;

        &:hover{
            color: $blue;
        }

        &:focus{
            text-decoration: underline;
        }
    }

    &__tagsList{
        display: flex;
        gap: 8px;
    }

    &__tag{
        color: $greyHard;
        border: 1px solid;
        border-radius: 2px;
        overflow: hidden;
        max-width: 300px;
        white-space: nowrap;

        padding: 0 4px;
    }

    &__description{
        color: $greyHard;
        overflow-wrap: anywhere;
    }
}

.userSide{
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__row{
        display: flex;
        justify-content: end;
        gap: 8px;
    }

    &__column{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 8px;
        text-align: right;
    }

    &__userName{
        font-size: 18px;
        overflow-wrap: anywhere;
    }

    &__creationTime{
        color: $greyHard;
    }

    &__userPic{
        width: 46px;
        height: 46px;
        border-radius: 50%;
    }

    &__btnWrap{}

    &__controlBtn{
        font-size: 16px;
        border: 2px solid;
        border-radius: 4px;
        white-space: nowrap;

        padding: 8px 20px;

        transition: $transitionQuick;

        &:hover{
            background-color: $greySoft;
        }

        &:focus{
            color: $black;
        }

        &--red{
            color: $red;
        }
        &--green{
            color: $green;
        }
    }

    &__spin{}

    &__errorMessage{
        color: $red;
        font-size: 20px;
        font-weight: bold;
    }
}
