@import 'src/styles/standart';

.header{
    height: 100%;
    font-size: 18px;

    display: flex;
    justify-content: space-between;

    &__sideBlock{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        padding: 0 24px;
    }

    &__btn{
        cursor: pointer;
        border-radius: 4px;

        padding: 8px;

        border: 2px solid transparent;
        transition: $transitionQuick;

        &:hover{
            background-color: $greyMiddle;
        }

        &:focus{
            border-color: $blue;
        }

        &--bold{
            font-weight: bold;
        }

        &--blackBorder{
            border-color: inherit;
        }

        &--greenBorder{
            color: $green;
            border: 2px solid;
        }
    }

    &__userBox{
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__userName{}

    &__userPic{
        width: 46px;
        height: 46px;
        border-radius: 50%;
    }
}